.sell-footer
  .sell-footer__cautions
    .sell-footer__cautions__privacy-policy
      プライバシーポリシー
    .sell-footer__cautions__terms-of-service
      フリマ利用規約
    .sell-footer__cautions__notation
      特定商取引に関する表記
  .sell-footer__icons
    .sell-footer__icons--logo
      = link_to image_tag('/material/logo/logo.png', width: '160'), root_path
    .sell-footer__icons--text
      © FURIMA