.destroy-view
  .destroy-view__image
    %h1
      = link_to image_tag('/material/logo/logo.png', width: '185px', height: '49px'), root_path

  .destroy-view__main
    .destroy-view__main__text
      変更が完了しました。
    .destroy-view__link-top
      = link_to "マイページに戻る", mypages_path

  = render partial: "shared/footer"