* {
  margin: 0px;
}

.header {
  padding: 0 60px;
  display: block;
  // border-bottom: solid 0.5px black;
  background-color: white;
  // height: 97.5px;
  height: 130px;

  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a {
          display: block;
        }
      }

      &__seach {
        margin-left: auto;
        width: 100%;
        &__form {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          &__input {
            width: calc(100% - 26px);
            height: 32px;
            padding: 0 0 0 5px;
          }
          &__btn {
            width: 32px;
            background: url("/material/icon/icon-search 1.png");
            background-size: cover;
            background-color: #3CCACE;
            cursor: pointer;
          }
        }
      }
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      border-bottom: 1px solid $background-color-lightgray;
      &__left {
        display: flex;
        position: relative;
        &__categorize {
          padding: 0;
          list-style: none;
          position: relative;
          a {
            color: black;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
          &__tree {
            display: flex;
            &__big {
              z-index: 1000;
              list-style: none;
              background-color: $background-color-white;
              position: absolute;
              top: 30px;
              left: 0px;
              width: 280px;
              line-height: 45px;
              padding-left: 3px;
            }
            &__medium {
              z-index: 1000;
              text-decoration: none;
              list-style: none;
              background-color: $background-color-white;
              position: absolute;
              top: 30px;
              left: 280px;
              width: 280px;
              line-height: 45px;
              padding-left: 3px;
            }
            &__small {
              z-index: 1000;
              // display: none;
              text-decoration: none;
              list-style: none;
              background-color: $background-color-white;
              position: absolute;
              top: 30px;
              left: 560px;
              width: 280px;
              line-height: 45px;
              padding-left: 3px;
            }
          }
        }
        &__burando {
          display: flex;
          line-height: 32px;
          padding: 0 0 0 16px;
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
      &__right {
        display: flex;
        line-height: 32px;
        padding: 0 0 0 16px;
        &__log-in {
          a {
            color: black;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 20px;
          }
        }
        &__sign-up {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    &__breadcrumbs {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}