$background-color-lightgray: #f5f5f5;
$background-color-gray: #cccccc;
$background-color-white: #ffffff;
$background-color-red: #ea352d;
$font-color-black: #333333;
$font-color-gray: #888888;
$font-color-white: #ffffff;
$font-color-red: #ff0211;
$font-color-blue: #0095ee;

.wrapper {
  background-color: $background-color-lightgray;
}

.sell-header {
  height: 120px;
  text-align: center;
  line-height: 120px;
}

.sell-main {
  background-color: $background-color-white;
  max-width: 700px;
  margin: 0 auto;
  &__title {
    height: 100px;
    font-size: 22px;
    color: $font-color-black;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid $font-color-gray;
  }
  &__image {
    padding: 40px;
    border-bottom: 1px solid $font-color-gray;
    &__title {
      font-size: 14px;
      color: $font-color-black;
    }
    &__caution {
      margin-top: 16px;
      font-size: 14px;
      color: $font-color-gray;
      margin-top: 16px;
    }
    &__photos-box {
      margin-top: 16px;
      height: 150px;
      width: 620px;
      background-color: $background-color-lightgray;
    }
  }

  &__product-name {
    padding: 40px;
    &__title {
      font-size: 14px;
      color: $font-color-black;
    }
    &__box {
      margin-top: 16px;
      width: 620px;
      height: 48px;
    }
  }

  &__product-description {
    padding: 40px;
    border-bottom: 1px solid $font-color-gray;
    &__title {
      font-size: 14px;
      color: $font-color-black;  
    }
    &__box {
      margin-top: 16px;
      width: 620px;
      height: 150px;
    }
  }

  &__product-details {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 1px solid $font-color-gray;
    &__title {
      font-size: 14px;
      color: $font-color-gray;
    }
    &__contents {
      &__category {
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;  
        }
      }
      &__brand {
        margin-top: 16px;
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;
        }
      }
      &__condition {
        margin-top: 16px;
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;  
        }
      }
    }
  }

  &__product-delivery {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $font-color-gray;
    &__title {
      font-size: 14px;
      color: $font-color-gray;
    }
    &__contents {
      &__who-cares {
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;
        }
      }
      &__where-from {
        margin-top: 16px;
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;
        }
      }
      &__how-long {
        margin-top: 16px;
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__lists {
          width: 400px;
          height: 48px;
        }
      }
    }
  }
  &__product-price {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 14px;
      color: $font-color-gray;
    }
    &__contents {
      &__selling-price {
        display: flex;
        border-bottom: 1px solid $font-color-gray;
        &__title {
          font-size: 14px;
          color: $font-color-black;
        }
        &__box {
          width: 150px;
          height: 48px;
        }
      }
  
      &__sales-commission {
        display: flex;
        padding: 12px;
        border-bottom: 1px solid $font-color-gray;
        &__title {
          font-size: 14px;
          color: $font-color-gray;
        }
        &__price {
          font-size: 14px;
          color: $font-color-black;
        }
      }
      &__sales-profit {
        margin-top: 16px;
        padding: 12px;
        display: flex;
        border-bottom: 1px solid $font-color-gray;
        &__title {
          font-size: 14px;
          color: $font-color-gray;
        }
        &__price {
  
        }
      }
    }
  }
  &__button {
    text-align: center;
    width: 360px;
    padding: 40px 0px 40px 150px;
    &__sell {
      background-color: $background-color-red;
      color: $font-color-white;
      font-size: 17px;
      min-height: 48px;
      margin-bottom: 24px;
      line-height: 48px;
      width: 150px;
      height: 48px;
    }
    &__back {
      background-color: $background-color-gray;
      width: 150px;
      height: 48px;
      padding: 14px 48px 14px;
      font-size: 17px;
      a {
        color: $font-color-white;  
        line-height: 48px;
      }
    }
  }
  &__caution {
    font-size: 12px;
    color: $font-color-gray;
    padding: 40px;
    a {
      color: $font-color-blue;
    }
  }
}

.sell-footer {
  padding: 40px 0;
  &__cautions {
    display: flex;
    justify-content: center;
    padding: 20px;
    &__privacy-policy {
      font-size: 12px;
      color: $font-color-gray;
      margin-right: 15px;
    }
    &__terms-of-service {
      font-size: 12px;
      color: $font-color-gray;
      margin-right: 15px;
    }
    &__notation {
      font-size: 12px;
      color: $font-color-gray;
    }
  }
  &__icons {
    text-align: center;
    &--logo {

    }
    &--text {
      font-size: 12px;
      color: $font-color-gray;
    }
  }
}
